* {
    font-family: Arial, Helvetica, sans-serif;
}
   
header.site-header.clearfix {
    background-color: #FFEEAA;
    padding: 10px 0px 15px 25px;
}
   
main, footer {
    padding: 0px 15px 15px 25px;
}
   
a {
    text-decoration: none;
}